/* app css stylesheet */
div#status {
  color: white;
  z-index: 9999;
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.align-right{
  text-align: right;
}
.video-js.vjs-default-skin .vjs-big-play-button { display: none; }
.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}
.ui-box{
  z-index: 9999;
  color: white;
  position:absolute;
  width:20%;
  opacity: 0.4;
  text-align: center;
  top: 0;
}
.ui-box:hover {
    opacity: 1;
}
#search input[type="text"] {
    border: 2px solid white;
    background: black;
    padding: 5px 10px 3px;
    color: white;
    border-radius: 12px;
    margin: 0 auto 8px;
    width: 232px;
}
#playlist{
  right:0;
}
.ui-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
}