<div id="status" ng-show="status.length != 0">{{ status }}</div>
<div style="position:absolute; top:0; bottom:0; left:0; right:0; z-index: 1001"></div>
<video id="video-screen" class="video-js vjs-default-skin vjs-fullscreen" controls preload="auto" width="auto" height="auto">

</video>
<div id="search" class="ui-box">
<input type="text" placeholder="enter song name and/or artist" ng-model="searchKey" ng-enter="find()">
<ul>
	<li ng-click="addToPlaylist(item)" ng-repeat="item in results">{{ item.title }}</li>
</ul>
</div>
<div id="playlist" class="ui-box">
<div class="align-right">
<button ng-click="next()" ng-show="playlist.length != 0">Next</button>
</div>
<ul>
	<li ng-repeat="item in playlist">{{ item.title }}</li>
</ul>
</div>
